body{
	background-color: #715f37;
}
h1{
	background-color: orange;
	padding: 0.5em;
}

.generated{
	display: block;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid black;
}

@media (min-width: 1150px) {
	.sticky {
		top: 30%;
		position: fixed;
	}
 }
